// Grid settings
// -------------------------

@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

/* ==========================================================================
   Colors
   ========================================================================== */

@brand-primary:         	#004e99;
@brand-success:         	spin(@brand-primary, -30);
@brand-info:            	spin(@brand-primary, 30);
@brand-warning:         	spin(@brand-primary, 150);
@brand-danger:          	spin(@brand-primary, 210);

@brand-primary-light:		lighten(@brand-primary, 10%);
@brand-primary-lighter:		lighten(@brand-primary, 20%);
@brand-primary-dark:		darken(@brand-primary, 10%);
@brand-primary-darker:		darken(@brand-primary, 20%);

@brand-primary-palest:			#EDF0F2;

@white: 					#fff;
@whitesmoke: 				lighten(@gray-base, 76.6%); // #f5f5f5;
@gray-lightish:				lighten(@gray-base, 70.6%); // #b4b4b4
@palegray:					lighten(@gray-base, 91.0%); // #e8e8e8;

/* ==========================================================================
   Layout
   ========================================================================== */

@padding-huge: 			50px;
@padding-tiny: 			25px;

/* ==========================================================================
	Fonts imports and paths
   ========================================================================== */

@icon-font-path:        "../vendor/bootstrap/fonts/";
@fa-font-path:        "../vendor/font-awesome/fonts/";
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");
@font-face {
    font-family: 'QuarkBold';
    src: url('../fonts/quark-bold.eot');
    src: url('../fonts/quark-bold.eot') format('embedded-opentype'),
         url('../fonts/quark-bold.woff') format('woff'),
         url('../fonts/quark-bold.ttf') format('truetype'),
         url('../fonts/quark-bold.svg#QuarkBold') format('svg');
}
@font-face {
    font-family: 'QuarkLight';
    src: url('../fonts/quark-light.eot');
    src: url('../fonts/quark-light.eot') format('embedded-opentype'),
         url('../fonts/quark-light.woff') format('woff'),
         url('../fonts/quark-light.ttf') format('truetype'),
         url('../fonts/quark-light.svg#QuarkLight') format('svg');
}

/* ==========================================================================
Base
========================================================================== */

.home .main {
  padding: 0;
}

/* ==========================================================================
	Typography
   ========================================================================== */
//** Link hover decoration.
@link-hover-decoration: none;

@font-family-sans-serif:  "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base:          16px;

// Headings //

@headings-font-family:    "QuarkBold", sans-serif;

/* ==========================================================================
	Splash page 
   ========================================================================== */
.intro {
	height: 					500px;
	display: 					table;
	width: 						100%;
	background-color: 			#000;
	-webkit-background-size: 	cover;
	-moz-background-size: 		cover;
	background-size: 			cover;
	-o-background-size: 		cover;
	
	.intro-body.content-section {
		padding: 				@padding-huge 0;
		text-align: 			center;
		color: 					#fff;
	}

	.content-section{
		padding-top: 		@padding-huge;
		padding-bottom: 	@padding-huge;
		p {
			color: #fff; 
			background: rgb(0, 0, 0); /* fallback color */
			background: rgba(0, 0, 0, 0.7);
			padding: 10px; 
			&.brand-heading {
				font-family: "QuarkBold", sans-serif;
				.h2;
				color: #fff; 
				margin: 0 0 10px;
				font-size: 100px;
				font-weight: 700;
				letter-spacing: 1px;
			}
			&.brand-sub-heading {
				margin: 0 0 20px;
				font-size: 18px;
			}
		}
	}
}

#about {
	&.content-section{
		padding-top: @padding-huge;
		padding-bottom: @padding-huge;
	}
	p {	
		margin: 0 0 20px;
		font-size: 18px;
		line-height: 1.5;
		font-weight: 200;
	}
}

/* ==========================================================================
   Header
   ========================================================================== */
   
header.banner.navbar {
	margin-bottom:			0;
}

header div.logo {
	background:				@brand-primary-dark;
	color: 					@gray-lighter;
	.tagline {
		font-size: 			ceil((@font-size-base * 1.5));
		font-weight:		200;
		text-align:			right;
		padding-top:		60px;
		margin-bottom:		22px;
	}
	.sciserverlogo {
		padding-top:		10px;
		margin-left:		0;
		margin-right:		auto;
		width:				360px;
	}
}

/* ==========================================================================
   Footer
   ========================================================================== */
footer {
	background:					@brand-primary-dark;
	-webkit-box-shadow: 		0 -4px 0 rgba(180,180,184,0.85);
	box-shadow: 				0 -4px 0 rgba(180,180,184,0.85);
	padding-bottom:				@padding-large-horizontal;
	p {
		color:					@white;
		font-size: 				18px;
		margin:					11px 0;
	}
	.footer-logo {
		max-height:				60px;
		margin-right:			auto;
		margin-left:			auto;
	}
}

/* ==========================================================================
   DropDowns
   ========================================================================== */

// puts a top to bottom gray-light gradient overs a dropdown menu item on hover or focus.
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
	background-image: -webkit-gradient(linear, left 0, left 100%, from(@gray-lighter), to(@white));
	background-image: -webkit-linear-gradient(top, @gray-lighter 0, @white 100%);
	background-image: -moz-linear-gradient(top, @gray-lighter 0, @white 100%);
	background-image: linear-gradient(to bottom, @gray-lighter 0, @white 100%);
	background-repeat: repeat-x;
	background-color: @white;
}

// puts a top to bottom brand-primary gradient overs an active dropdown menu item on hover or focus.
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
	  background-image: -webkit-gradient(linear, left 0%, left 100%, from(@brand-primary), to(@brand-primary-light));
	  background-image: -webkit-linear-gradient(top, @brand-primary 0%, @brand-primary-light 100%);
	  background-image: -moz-linear-gradient(top, @brand-primary 0%, @brand-primary-light 100%);
	  background-image: linear-gradient(to bottom, @brand-primary 0%, @brand-primary-light 100%);
	  background-repeat: repeat-x;
	  background-color: @brand-primary;
}
ul.dropdown-menu {
	padding-top:		0px;
	padding-bottom:		0px;
}
/* ==========================================================================
   Navbars
   ========================================================================== */

@navbar-default-color:					@gray;
@navbar-default-bg:						@gray-lighter;
@navbar-default-link-color:				@gray;
@navbar-default-link-hover-color:		@gray-darker;
@navbar-default-link-active-color:		@gray-darker;

// keep active navbar menu item the same color, but add some box shading around the inside
@navbar-default-link-active-bg:		transparent;
.navbar-default {

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);

	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);

	.navbar-nav > .active > a {
		-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
	}
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
   
// xs and larger (all)
@media (min-width: @screen-xs-min) {
}

// sm and larger
@media (min-width: @screen-sm-min) {
	.logo {
		.tagline {
			padding-top:60px;
		}
	}
}   

// md and larger
@media (min-width: @screen-md-min) {
}

// lg 
@media (min-width: @screen-lg-min) {
}  
 
// xs only
@media (max-width: @screen-xs-max) {
	.logo {
		.tagline {
			padding-top:10px;
		}
	}
	.intro .content-section p.brand-heading {
		font-size: 40px;
	}
	.intro {
		height: auto;
		.content-section {
			padding-top: 50px;
		}
	}
	#about.content-section{
		padding-top: padding-tiny;
		padding-bottom: padding-tiny;
	}
}

// sm and smaller 
@media (max-width: @screen-sm-max) {
}

// md and smaller 
@media (max-width: @screen-md-max) {
}

