/*!
 * Roots 6.5.2
 */

@import "bootstrap/bootstrap.less";
@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic");

/* ==========================================================================
   Base
   ========================================================================== */

body { }

@font-face {
    font-family: 'QuarkBold';
    src: url('../fonts/quark-bold.eot');
    src: url('../fonts/quark-bold.eot') format('embedded-opentype'),
         url('../fonts/quark-bold.woff') format('woff'),
         url('../fonts/quark-bold.ttf') format('truetype'),
         url('../fonts/quark-bold.svg#QuarkBold') format('svg');
}
@font-face {
    font-family: 'QuarkLight';
    src: url('../fonts/quark-light.eot');
    src: url('../fonts/quark-light.eot') format('embedded-opentype'),
         url('../fonts/quark-light.woff') format('woff'),
         url('../fonts/quark-light.ttf') format('truetype'),
         url('../fonts/quark-light.svg#QuarkLight') format('svg');
}

.home .main {
  padding: 0;
}

/* ==========================================================================
   Header
   ========================================================================== */

.banner { }
.logo {background:#003366; 
 p  {color: #ecf0f1; }
 img {padding-top: 10px; margin: 0 auto; display: block;}
}

.dropdown-menu > li {
	> a:hover,
	> a:focus {
		background-image: -webkit-gradient(linear, left 0%, left 100%, from(#f5f5f5), to(#e8e8e8));
		background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
		background-image: -moz-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
		background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
		background-color: #e8e8e8;
	}
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#357ebd));
  background-image: -webkit-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: -moz-linear-gradient(top, #428bca 0%, #357ebd 100%);
  background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff357ebd', GradientType=0);
  background-color: #357ebd;
}
.navbar-default {

	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);

	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 5px rgba(0, 0, 0, 0.075);

	.navbar-nav > .active > a {
		-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
		box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
	}
}

.navbar-brand, 
.navbar-nav > li > a {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.25);
}
.navbar-inverse {
	background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3c3c3c), to(#222222));
	background-image: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
	background-image: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
	background-image: linear-gradient(to bottom, #3c3c3c 0%, #222222 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);

	.navbar-nav > .active > a {
		background-image: -webkit-gradient(linear, left 0%, left 100%, from(#222222), to(#282828));
		background-image: -webkit-linear-gradient(top, #222222 0%, #282828 100%);
		background-image: -moz-linear-gradient(top, #222222 0%, #282828 100%);
		background-image: linear-gradient(to bottom, #222222 0%, #282828 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
		-webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
		box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.25);
	}
	.navbar-brand, 
	.navbar-inverse .navbar-nav > li > a {
		text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	}
}
.navbar-static-top,
.navbar-fixed-top,
.navbar-fixed-bottom {
	border-radius: 0;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content { }

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #eeeeee;
  left: 50%;
  margin-left: -1.5px;
}
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 46%;
  float: left;
  border: 1px solid #d4d4d4;
  border-radius: 2px;
  padding: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  right: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
.timeline-badge.primary {
  background-color: #2e6da4 !important;
}
.timeline-badge.success {
  background-color: #3f903f !important;
}
.timeline-badge.warning {
  background-color: #f0ad4e !important;
}
.timeline-badge.danger {
  background-color: #d9534f !important;
}
.timeline-badge.info {
  background-color: #5bc0de !important;
}
.timeline-title {
  margin-top: 0;
  color: inherit;
}
.timeline-body > p,
.timeline-body > ul {
  margin-bottom: 0;
}
.timeline-body > p + p {
  margin-top: 5px;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling
glyphicon */
    content: "\e082";    /* adjust as needed, taken from bootstrap.css */
    float: left;        /* adjust as needed */
    color: #255682;         /* adjust as needed */
    padding-right: 15px;
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e081";    /* adjust as needed, taken from bootstrap.css */
}

/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }

.content-section h1, .content-section h2, .content-section h3 {
margin: 0 0 10px;
font-family: "QuarkBold", sans-serif;
font-weight: 700;
letter-spacing: 1px;   
color: #fff; 
}

.content-section p {
margin: 0 0 20px;
font-size: 18px;
line-height: 1.5;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    background: url('/wp-content/uploads/2014/04/exa_hep_fig2_large.jpg') no-repeat bottom center fixed;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-top: -20px;
}

.intro-body {
    padding: 100px 0;
    text-align: center;
    color: #fff;
}

.brand-heading {
    font-size: 40px;
    background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}


.intro-text {
  font-size: 18px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 15px 16px;
    border: 2px solid #fff;
    border-radius: 35px;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.page-scroll .btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.page-scroll .btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.content-section {
    padding-top: 50px;
}

/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }



.sidenav>li>a {
display: block;
font-weight: 500;
padding: 4px 20px;
color: #999;
}

.sidenav>.nav>li>a {
font-size: 14px;
padding-top: 1px;
padding-bottom: 1px;
padding-left: 30px;
font-weight: 400;
}

.group {
    background: yellow;
    width: 200px;
    height: 500px;
}
.group .subgroup {
    background: orange;
    width: 150px;
    height: 200px;
}

.bs-docs-sidebar.affix {position:static } 
.bs-docs-sidenav {margin-top:20px; margin-bottom:20px } 
.bs-docs-sidebar .nav>li>a {display:block; font-size:1em; font-weight:500; color:#999; padding:4px 20px } 
.bs-docs-sidebar .nav>li>a:hover,.bs-docs-sidebar .nav>li>a:focus {padding-left:19px; color:@sciserver; text-decoration:none; background-color:transparent; border-left:1px solid @sciserver } 
.bs-docs-sidebar .nav>.active>a,.bs-docs-sidebar .nav>.active:hover>a,.bs-docs-sidebar .nav>.active:focus>a {padding-left:18px; font-weight:700; color:@sciserver; background-color:transparent; border-left:2px solid @sciserver }
 .bs-docs-sidebar .nav .nav {display:none; padding-bottom:10px } 
.bs-docs-sidebar .nav .nav>li>a {padding-top:1px; padding-bottom:1px; padding-left:30px; font-size:.9em; font-weight:400 } 
.bs-docs-sidebar .nav .nav>li>a:hover,.bs-docs-sidebar .nav .nav>li>a:focus {padding-left:29px } 
.bs-docs-sidebar .nav .nav>.active>a,.bs-docs-sidebar .nav .nav>.active:hover>a,.bs-docs-sidebar .nav .nav>.active:focus>a {font-weight:500; padding-left:28px } 

/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { }

.footer-blue {
background: #003366;
-webkit-box-shadow: 0 -4px 0 rgba(180,180,184,.85);
box-shadow: 0 -4px 0 rgba(180,180,184,.85); 
 h4 { color:@body-bg;}
 img {max-height:150px; margin: 0 auto; display: block;}
  }


/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

// sm and larger
@media (min-width: @screen-sm-min) {
.content-section {
        padding-top: 50px;
        padding-bottom: 45px;
    } 
 .intro {
        height: 500px;
        padding: 0;
    }

    .brand-heading {
        font-size: 100px;
        color:#fff;
    }

    .intro-text {
        font-size: 25px;
    }    
    }

// md and larger
@media (min-width: @screen-md-min) {
	.logo p {padding-top: 60px; } 
	.bs-docs-sidebar .nav>.active>ul {display:block } 
	.bs-docs-sidebar.affix,.bs-docs-sidebar.affix-bottom {width:213px } 
	.bs-docs-sidebar.affix {position:fixed; top:50px } 
	.bs-docs-sidebar.affix-bottom {position:absolute } 
	.bs-docs-sidebar.affix-bottom .bs-docs-sidenav,.bs-docs-sidebar.affix .bs-docs-sidenav {margin-top:0; margin-bottom:0 }  
}

@media (min-width: @screen-lg-min) { .bs-docs-sidebar.affix-bottom,.bs-docs-sidebar.affix {width:263px } }
